{{page-title 'Index'}}

<div class='m-8'>
  <div>
    <h1 class='text-xl text-blue-400'>page d'accueil</h1>
    <p class='text-justify'>Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Officiis accusamus veritatis reiciendis quasi inventore
      delectus,expedita aperiam dolorum minus in, nemo alias vitae dolores
      placeat veniam saepe earum corporis recusandae nisi laboriosam ipsum
      incidunt quos ad.Excepturi reprehenderit cupiditate, porro perspiciatis
      omnis sequiaspernatur nihil numquam fugit ullam nostrum corporis explicabo
      pariatur maxime, fugiat, animi consectetur. Est, minima harum corporis
      ullam veniam dolore nam eius quasi pariatur quos commodi laborum rem,
      exercitationem tempore minus! Atque sit magnam, facilis ex illo vel
      maxime, animi architecto modi placeat dolor ullam similique quibusdam
      odio, enim quos porro voluptatum voluptas provident dicta molestias
      maiores deleniti. Ex nobis reprehenderit quae et quia provident. Alias
      porro neque voluptatum quod, commodi unde asperiores assumenda enim
      consequatur amet nam nostrum rem distinctio nobis rerum accusamus, debitis
      blanditiis magnam corrupti voluptatem deleniti esse cum aspernatur?
      Recusandae consequuntur quisquam illo dolore quod inventore non ratione,
      dolor voluptatum doloremque earum quam magni nostrum. Ut excepturi
      voluptates dolor, suscipit illo accusantium veniam, obcaecati neque,
      asperiores repellat nulla in? Atque temporibus aliquid, doloremque esse
      delectus in nobis numquam molestiae recusandae! Eum alias placeat ratione
      necessitatibus sint, blanditiis delectus fuga et cupiditate repellat id
      enim, ullam veritatis, pariatur voluptatibus saepe in incidunt nisi iusto
      illum eaque. Inventore repellendus doloribus voluptatem aspernatur labore
      corporis voluptate dolor fuga non repudiandae esse tempora sapiente quidem
      quis officiis autem aut, illum tenetur eaque doloremque. Saepe soluta quo
      atque incidunt nulla nam inventore optio sequi, molestias asperiores,
      deleniti accusamus in! Atque doloremque, eaque aut recusandae perferendis
      veritatis explicabo quod molestias vero dolores repellendus</p>
  </div>
</div>