{{page-title 'Index'}}
<div class="relative">
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-#E6E6E6"
  >
    <p
      class="d-md-none d-block align-middle leading-relaxed tracking-wide text-center font-sans font-bold text-4xl"
    >
      Voici votre nouvel outil de gestion des projets et de travail en equipe,
      <br />
      <span
        class="tracking-widest text-6xl bg-clip-padding bg-black text-white px-4"
      >
        INFRASCRUM
      </span>
    </p>
  </div>
  <div
    class="sticky top-0 h-screen flex flex-col items-center justify-center bg-violet-800 text-white"
  >
    <div class="container">
      <div class="flex items-center justify-center">
        <div class="flex px-5">
          <figure>
            <img
              class="object-scale-down h-96 w-124"
              src="https://www.jljavelaud.fr/wp-content/uploads/2019/01/cowork.png"
              alt="coworking"
            />
          </figure>
        </div>
        <div class="justify-center px-5">
          <h3 class="text-4xl text-center font-bold">
            Notre outil vous aide à
            gérer des projets , à rationaliser les flux de travail et à
            respecter les délais et le budget.
          </h3>
          <p class="text-2xl text-center">
            L'organisation est la clé d'un projet
            réussi. Planifiez votre travail, suivez une liste des éléments
            nécessaires et terminez la tâche.
            <strong class="text-2xl">
              Une liste de contrôle est la base de tout
              projet.
            </strong>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sticky top-0 h-auto flex items-center justify-center bg-green-400"
  >
    <div class="flex items-center justify-center min-h-screen py-48">
      <div class="flex flex-col">
        <div class="conatiner max-w7xl px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              <h1 class="text-4xl font-bold mb-8 text-gray-700">
                Technologies
              </h1>
            </div>
          </div>
          <div class="flex flex-wrap">
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                <img
                  class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto"
                  src="../icones/ember-logo.svg"
                  alt="ember"
                />
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                <img
                  class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto"
                  src="../images/nodeexpress.png"
                  alt="expressJs"
                />
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                <img
                  class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto"
                  src="../icones/mariadb.svg"
                  alt="mariadb"
                />
              </div>
            </div>
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                <img
                  class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100 mx-auto"
                  src="../icones/docker.svg"
                  alt="docker"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    class="sticky top-0 flex flex-col items-center justify-center h-auto bg-gray-200"
  >
    <div
      class="flex items-center justify-center min-h-screen bg-slate-200 py-48"
    >
      <div class="flex flex-col">
        <div class="container max-w7xl px-4">
          <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
              {{! header }}
              <h1 class="text-4xl font-bold mb-8 text-gray-700">
                Notre
                Équipe
              </h1>
              <p class="text-gray-500 text-lg font-light">
                Quel sportif de haut niveau pourrait se targuer de s'être hissé
                seul au sommet ? 
                Voici les différents acteurs, qui ont mis leurs
                compétences et qualités au service de la réussite de l'appli.
              </p>
            </div>
          </div>
          {{! team }}
          <div class="flex flex-wrap">
            {{! 1 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Esteban.jpg"
                    alt="Esteban"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Esteban
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    " Front-end and kicker master "
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 2 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Andy.jpg"
                    alt="Andy"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Andy
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    " Front-end and photographer "
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 3 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Pat.jpg"
                    alt="Patrick"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Patrick
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    " Front-end and lights master "
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 4 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Simon.jpg"
                    alt="Esteban"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Simon
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    " Full-stack alias Kronk "
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 6 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Isaure.jpg"
                    alt="Ravenae"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Isaure
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    Full-stack and SNCB master
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 7 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Milton.jpg"
                    alt="Milton"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    Milton
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    " Front-end and cocktail master "
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
            {{! 5 personnage }}
            <div class="w-full md:w-6/12 lg:w-3/12 mb-6 px-6 lg:px-4">
              <div class="flex flex-col">
                {{! image }}
                <a href="#" class="mx-auto">
                  <img
                    class="object-scale-down h-72 w-72 rounded-2xl drop-shadow-md hover:drop-shadow-xl transition-all duration-200 delay-100"
                    src="../images/team/Francois.jpg"
                    alt="François"
                  />
                </a>
                {{! details }}
                <div class="text-center mt-6">
                  {{! name }}
                  <h2 class="text-gray-900 text-xl font-bold mb-1">
                    François
                  </h2>
                  {{! description }}
                  <p class="text-gray-700 font-light mb-2">
                    *
                  </p>
                </div>
                {{! social icons }}
                <div
                  class="flex items-center justify-center opacity-50 hover:opacity-100 transition-opacity duration-300"
                >
                  {{! linkedin }}
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-indigo-50 h-10 w-10"
                  >
                    <svg
                      class="text-blue-500 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M19,3C20.1,3 21,3.9 21,5V19C21,20.1 20.1,21 19,21H5C3.9,21 3,20.1 3,19V5C3,3.9 3.9,3 5,3H19M18.5,18.5V13.2C18.5,11.4 17.04,9.94 15.24,9.94C14.39,9.94 13.4,10.46 12.92,11.24V10.13H10.13V18.5H12.92V13.57C12.92,12.8 13.54,12.17 14.31,12.17C15.08,12.17 15.71,12.8 15.71,13.57V18.5H18.5M6.88,8.56C7.81,8.56 8.56,7.81 8.56,6.88C8.56,5.95 7.81,5.19 6.88,5.19C5.95,5.19 5.19,5.95 5.19,6.88C5.19,7.81 5.95,8.56 6.88,8.56M8.27,18.5V10.13H5.5V18.5H8.27Z"
                      ></path>
                    </svg>
                  </a>
                  <a
                    href="#"
                    class="flex rounded-full hover:bg-orange-50 h-10 w-10"
                  >
                    <svg
                      class="text-orange-400 mx-auto mt-2"
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 24 24"
                    >
                      <path
                        d="M7.8,2H16.2C19.4,2 22,4.6 22,7.8V16.2C22,19.4 19.4,22 16.2,22H7.8C4.6,22 2,19.4 2,16.2V7.8C2,4.6 4.6,2 7.8,2M7.6,4C5.61,4 4,5.61 4,7.6V16.4C4,18.39 5.61,20 7.6,20H16.4C18.39,20 20,18.39 20,16.4V7.6C20,5.61 18.39,4 16.4,4H7.6M17.25,5.5C17.94,5.5 18.5,6.06 18.5,6.75C18.5,7.44 17.94,8 17.25,8C16.56,8 16,7.44 16,6.75C16,6.06 16.56,5.5 17.25,5.5M12,7C14.76,7 17,9.24 17,12C17,14.76 14.76,17 12,17C9.24,17 7,14.76 7,12C7,9.24 9.24,7 12,7M12,9C10.34,9 9,10.34 9,12C9,13.66 10.34,15 12,15C13.66,15 15,13.66 15,12C15,10.34 13.66,9 12,9Z"
                      ></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
            {{!  }}
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>

 