{{page-title 'Index'}}
<div class='relative'>
      <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-#E6E6E6">  
            <p class="d-md-none d-block align-middle leading-relaxed text-center font-sans font-bold text-4xl"> <span class="tracking-wide">Voici votre nouveau outil de gestion des projets et de travail en equipe,</span><span class="tracking-widest text-6xl bg-black text-white"> iNFRASCRUM </span>
          </p> 
      </div>
       <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-green-400 text-white">
            <h2 class="text-4xl">UTILISATEURS</h2>
            <p>Scroll Down</p>
      </div>
       <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-violet-800 text-white">
            <h2 class="text-4xl">PROJETS</h2>
            <p>Scroll Down</p>
      </div>
       <div class="sticky top-0 h-screen flex flex-col items-center justify-center bg-gray-800 text-white">
            <h2 class="text-4xl font-light text-gray-500">Notre <span class="font-semibold">&Eacute;quipe</span></h2>
           
       <div class="flex flex-wrap flex-row -mx-4 justify-center">
        <div class="flex-shrink max-w-full px-4 w-2/3 sm:w-5/12 lg:w-1/4 xl:px-6">
           <div class="relative overflow-hidden bg-white dark:bg-gray-800">

           </div>
        </div>
       </div>    
      </div>
      
    
</div>