@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700;900&display=swap%27');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Rubik', sans-serif;
}
/* Forms and buttons  */

.formBackground{
    @apply bg-gray-100 flex flex-col justify-center rounded
}

.formContainer{
    @apply p-10 mx-auto md:w-full md:max-w-md
}

.form{
    @apply bg-white shadow w-full rounded-lg divide-y divide-gray-200
}

.label{
    @apply font-semibold text-sm text-gray-600 pb-1 block
}

.input{
    @apply border rounded-lg px-3 py-2 mt-1 mb-5 text-sm w-full
}

.btnPrimary{
    @apply transition duration-200 bg-middleblue hover:bg-nightblue focus:bg-nightblue focus:shadow-sm focus:ring-4 focus:ring-middleblue focus:ring-opacity-50 text-white py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block disabled:bg-lightblue
}
.btnCancel{
    @apply transition duration-200 bg-red-500 hover:bg-red-600 focus:bg-red-600 focus:shadow-sm focus:ring-4 focus:ring-red-500 focus:ring-opacity-50 text-white py-2.5 rounded-lg text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block
}

.btnSecondary {
    @apply transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-200 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset
}
.btnTask {
    @apply inline-block px-2 mb-1 transition duration-200 cursor-pointer font-semibold text-sm rounded-lg text-gray-600 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset

}


/* Underlined links  */

.link-underline {
    border-bottom-width: 0px;
    background-image: linear-gradient(transparent, transparent), linear-gradient(#001626, #001626);
    background-size: 0 2px;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    transition: background-size .5s ease-in-out;
}

.link-underline-black {
    background-image: linear-gradient(transparent, transparent), linear-gradient(#001626, #001626)
}

.link-underline:hover {
    background-size: 100% 2px;
    background-position: 50% 100%
}


/* ... */

.errorMsg {
    @apply text-red-500 text-xs
}

