{{page-title "Login"}}
<div class="class='absolute top-0 left-0 flex justify-center items-center w-full h-full">

{{!-- <Form::Login/> --}}
{{!-- <Form::NewUser @create={{this.addingNewUser}}/> --}}
{{!-- <Form::ChangePassword/> --}}
{{outlet}}
</div>
