{{page-title 'Projects'}}
<div class='relative'>
  <h1>route projects</h1>
  {{#each this.model as |project|}}
    <p>{{project.projectName}}</p>
  {{/each}}

  <div class='absolute left-0 top-0 flex justify-center pt-12 w-full h-full'>
    {{outlet}}</div>
</div>