{{page-title 'Projects'}}
<div class='relative'>
  <h1>route projects</h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate eaque
    corrupti dolorum, earum quam dolor nobis ipsam, cumque sit provident sequi
    unde mollitia quod officia maiores quis voluptatibus vero deleniti a.
    Quaerat minima quo excepturi, voluptatum dolore nulla laboriosam sequi
    repellat, nostrum, deserunt ex et quos totam eum eligendi officiis.div</p>

  <div class='absolute left-0 top-0 flex justify-center pt-12 w-full h-full'>
    {{outlet}}</div>
</div>