{{page-title 'Elements'}}
<div class=" mt-4 w-full h-fit">
 <form class="bg-white flex justify-center shadow-md rounded px-8 mx-5 w-128">
   
    {{!-- {{#each this.element.itemList as |item|}} --}}
    <div class="element-item">
        <div class="p-2 mt-2 bg-white border shadow rounded w-96">
             <Input 
                    @type="text" 
                    {{!-- @value={{this.element.name}}  --}}
                    placeholder="Nouveau Element" 
                />
        </div>
        <div class="p-2 mt-2 bg-white border shadow rounded w-96">
            <Input 
                    @type="color" 
                    placeholder="color" 
                />
        </div>
        <div class="flex items-center justify-between">
             <button 
        class="btnPrimary" 
        type="submit" 
        disabled={{this.isAddButtonDisabled}}
        >Remember</button>
          <a class="inline-block align-baseline font-bold text-medium text-blue-500 hover:text-blue-800" href="#">
        Forget
      </a>

        </div>
     

    </div>

 </form>
</div>

