<div class='w-2/3 h-2/3 border rounded-lg shadow-xl border-gray-300 bg-white'>
  <ul class='ml-4 mt-4'>
    <li> Header: Patrick presque fini</li>
    <li> Navbar latérale: Milton / Patrick</li>
    <li> Form Login: Andy / Esteban</li>
    <li> Form newUser: </li>
    <li> Form changePassword:</li>
    <li> Form Project:</li>
    <li> Form element:</li>
    <li> Form Task:</li>
    <li> Form Checklist:</li>
    <li> Pages Login:</li>
    <li> Pages Admin:</li>
    <li> Pages Project:</li>
    <li> Pages Element:</li>
    <li> Pages Checklist:</li>
    <li> Pages Comments:</li>
    <li> Pages Comments/Comment:</li>
    <li> Pages User: Pages</li>
    <li> Features: Patrick presque fini</li>

  </ul>
</div>