<div class="formBackground">
    <div class="formContainer">
    
           <div class="flex justify-start mb-2">
                          
                <h4 class="text-2xl text-gray-600">Task </h4>
                                                
          </div>
              
             <div class="form">
                    <form class='px-5 py-7' {{on 'submit' this.saveTask}}>
                        {{!-- template-lint-disable require-input-label --}}
                        <label 
                         class='label' 
                         for='Titre Task'>Task</label>
                        <Input
                        class='input'
                        @type='text'
                        placeholder='New Task'
                        @value={{this.selectTask.nameTask}}
                        />
                    
                         <label 
                         class='label' 
                         for='Description'>Description</label>
                        {{!-- template-lint-disable require-input-label --}}
                        <Input
                            class='input'
                            @type='text'
                            placeholder='add a decription'
                            @value={{this.selectTask.textTask}}
                        />
                        
                        <label class='label' for=''>Color</label>
                        {{!-- template-lint-disable require-input-label --}}
                        <Input
                            class='input'
                            @type='color'
                            placeholder='color'
                            @value={{this.selectTask.colorTask}}
                        />
                        
                        <div>
                            <label for="time">Date Task</label>
                            <input 
                              type= "date"
                              class="input" /> 
                        </div>
                        
                            <button 
                               class=" btnPrimary w-full"     
                               type="submit">
                                    <span class="inline-block mr-2">Add Task</span>
                                    <svg 
                                      xmlns="http://www.w3.org/2000/svg" 
                                      class="h-6 w-6 inline-block" 
                                      fill="none" 
                                      viewBox="0 0 24 24" 
                                      stroke="currentColor" 
                                      stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>

                          </button>
                        
                 </form>
         </div>  
  </div>

</div>