<div class="classTask p-10">
    <div class="flex justify-between">
        <div class="grid grid-cols-4 gap-5my-5">
            <div class="bg-gray-200 p-3">
                <h4 class="flex justify-between items-center">
                    <span class="text-2xl text-gray-600">Backlog</span>
                </h4>
            </div>

            <div class="bg-white rounded-md p-3 mt-3">
                <label for="" class="bg-gradient-to-r from-blue-200 to to-blue-600 px-2 py-1 rounded text-white text-sm">progress...</label>
            </div>
        </div> 
    </div>
</div>   