<div class='flex justify-center items-center'>
  <label for='username' class='label m-4'>user</label>
  {{!-- <select name='username' id='username' class='input'>
    {{#each this.utilisateurs as |user|}}
      <option>{{user.username}}</option>
    {{/each}}
  </select> --}}
  <Input type='text' class='input' @value={{this.utilisateurs}} />
  {{log this.utilisateurs}}
</div>