<div class='flex justify-center items-center'>
  <label for='username' class='label m-4'>user</label>
  <select name='username' id='username' class='input'>
    <option> a</option>
  </select>

</div>