<div class='flex justify-center items-center'>
  <label for='username' class='label m-4'>user</label>
  <select name='username' id='username' class='input'>

    {{!-- {{#each this.users as |user|}}
      <option>{{user.username}}</option>
    {{/each}} --}}

  </select>

</div>