{{page-title 'Application'}}
<div class="relative">

  {{! <NavBar /> }}
    <main class=' w-full absolute top-24'>
      {{outlet}}
    </main>
  <div class=" w-screen fixed top-0 left-0">
  <Header />
  </div>

</div>