{{page-title 'Id'}}
<div class='flex'>
  <div class='fixed'>
    <NavBar @model={{@model}} />
  </div>

  <div class='flex-grow absolute -z-20 left-40'>
    <Pages::Project @model={{@model}} />
  </div>
</div>

{{outlet}}